@import 'zw.css';
.zt_detailList {
  background-color: #eef4f9;
  font-family: HiraginoSansGB-W3;
  box-sizing: border-box;
}
.zt_detailList .wrapper {
  margin-bottom: 20px;
}

/* 文章正文 */
.articleWrapper {
  font-size: 18px;
  color: #212121;
  padding: 56px 40px 64px;
  background-color: #fff;
}
.articleWrapper .articleHead h2 {
  font-size: 40px;
  text-align: center;
  color: #2d66a5;
  width: 1000px;
  margin: 0 auto;
}
.articleWrapper .articleHead h2.subTitle {
  font-size: 28px;
}
.articleWrapper .articleHead .share {
  display: inline-block;
  vertical-align: middle;
}
.articleWrapper .articleHead .share .hideDiv dt {
  line-height: 44px;
  margin: 0 10px;
}
.articleWrapper .articleHead .sub {
  font-size: 14px;
  color: #444440;
  margin-top: 30px;
  padding: 0 0px 30px 0px;
  border-bottom: 1px solid #e1e6eb;
  text-align: center;
}
.articleWrapper .articleHead .sub .resourse {
  margin-right: 14px;
}
.articleWrapper .articleHead .sub .file {
  margin-left: 14px;
}
.articleWrapper .articleHead .sub .print {
  cursor: pointer;
}
.articleWrapper .articleHead .sub .fontSizeChange span {
  cursor: pointer;
}
.articleWrapper .articleHead .sub .bigFont {
  margin-right: 6px;
}
.articleWrapper .articleHead .sub .normalFont {
  margin-right: 6px;
}

.articleWrapper .articleHead .left {
  float: left;
  line-height: 44px;
}
.articleWrapper .articleHead .interactive {
  float: right;
  line-height: 44px;
}
.articleWrapper .articleHead .article {
  margin-top: 30px;
  font-size: 18px;
  color: #212121;
  line-height: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e6eb;
}
.articleWrapper .articleHead .article.no_border {
  border: none;
}
.articleWrapper .articleHead .articleInfo {
  width: 1040px;
  padding: 32px 30px;
  background: #f2f4f7;
  margin: 30px auto;
}
.articleWrapper .articleHead .articleInfo ul li {
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  width: 32%;
  display: inline-block;
}
.abouts {
  background-color: #fff;
  padding: 0 50px 64px 50px;
}
.abouts .subTitle {
  font-size: 24px;
  color: #212121;
  margin-bottom: 35px;
}
.abouts .subTitle::before {
  content: '';
  display: inline-block;
  height: 24px;
  width: 7px;
  background-color: #2d66a5;
  margin-right: 10px;
  margin-bottom: 2px;
  vertical-align: bottom;
}
.abouts ul li {
  margin-bottom: 20px;
}
.abouts ul li .title {
  display: inline-block;
  max-width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  line-height: 24px;
}
.abouts ul li .title::before {
  content: '·';
  display: inline-block;
  margin-right: 6px;
}
.abouts ul li .time {
  font-size: 16px;
  color: #999;
}
.articleWrapper .articleHead .f-tit {
  font-size: 20px;
  color: #212121;
  text-align: left;
  margin: 0;
}
.article-footer ul li {
  margin: 10px 0;
  font-size: 0;
}
.article-footer ul {
  padding-top: 10px;
}
.article-footer ul li a {
  font-size: 16px;
  color: #212121;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 18px);
  vertical-align: middle;
}
.article-footer ul li a:hover {
  color: #2d66a5;
}
.article-footer ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #2d66a5;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.fxd_con .bdshare-button-style0-32 a {
  float: left;
  width: 28px;
  line-height: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  cursor: pointer;
  margin: 6px 6px 6px 0;
  overflow: hidden;
  color: #3a8ceb;
  border-radius: 50%;
}
.fxd_con .bdshare-button-style0-32 .bds_sqq {
  background-image: url(../images/qq.png);
  border: 1px solid #56b6e7;
}
.fxd_con .bdshare-button-style0-32 .bds_sqq:hover {
  background-image: url(../images/qq-1.png);
  border: 1px solid #56b6e7;
  background-color: #56b6e7;
}

.fxd_con .bdshare-button-style0-32 .bds_qzone {
  background-image: url(../images/qqkj.png);
  border: 1px solid #fdbe3d;
}
.fxd_con .bdshare-button-style0-32 .bds_qzone:hover {
  background-image: url(../images/qqkj-1.png);
  border: 1px solid #fdbe3d;
  background-color: #fdbe3d;
}
.fxd_con .bdshare-button-style0-32 .bds_tsina {
  background-image: url(../images/wb.png);
  border: 1px solid #ff763b;
}
.fxd_con .bdshare-button-style0-32 .bds_tsina:hover {
  background-image: url(../images/wb-1.png);
  border: 1px solid #ff763b;
  background-color: #ff763b;
}
.fxd_con .bdshare-button-style0-32 .bds_weixin {
  background-image: url(../images/wx.png);
  border: 1px solid #7bc549;
}
.fxd_con .bdshare-button-style0-32 .bds_weixin:hover {
  background-image: url(../images/wx-1.png);
  border: 1px solid #7bc549;
  background-color: #7bc549;
}
.TRS_Editor .TRS_UEDITOR{
  border: none;
}
.share .fx .fr .bshare-custom a {
  float: left;
  display: inline-block;
  width: 26px;
  line-height: 28px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  cursor: pointer;
  margin: 6px 6px 6px 0;
  overflow: hidden;
  color: #3a8ceb;
  border-radius: 50%;
}
.share .fx .fr .bshare-custom .bds_sqq {
  background-image: url(../images/qq.png);
  border: 1px solid #56b6e7;
}
.share .fx .fr .bshare-custom .bds_sqq:hover {
  background-image: url(../images/qq-1.png);
  border: 1px solid #56b6e7;
  background-color: #56b6e7;
}

.share .fx .fr .bshare-custom .bds_qzone {
  background-image: url(../images/qqkj.png);
  border: 1px solid #fdbe3d;
}
.share .fx .fr .bshare-custom .bds_qzone:hover {
  background-image: url(../images/qqkj-1.png);
  border: 1px solid #fdbe3d;
  background-color: #fdbe3d;
}
.share .fx .fr .bshare-custom .bds_tsina {
  background-image: url(../images/wb.png);
  border: 1px solid #ff763b;
}
.share .fx .fr .bshare-custom .bds_tsina:hover {
  background-image: url(../images/wb-1.png);
  border: 1px solid #ff763b;
  background-color: #ff763b;
}
.share .fx .fr .bshare-custom .bds_weixin {
  background-image: url(../images/wx.png);
  border: 1px solid #7bc549;
}
.share .fx .fr .bshare-custom .bds_weixin:hover {
  background-image: url(../images/wx-1.png);
  border: 1px solid #7bc549;
  background-color: #7bc549;
}
